@import '../../../../app/page.module.scss';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  margin: 72px;
  padding: 23px 24px 24px 24px;
}

.header {
  @include H1;
  text-align: center;
  margin-bottom: 36px;
}

.formContainer {

}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;

  & p {
    @include Regular_text_14;
    color: var(--light-900);
  }
}

.linkSentMessage {
  @include Regular_text_14;
  margin-top: 23px;
  margin-bottom: 1px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 17px;
  margin-bottom: 24px;
}

.reCaptcha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalMessage {
  max-width: 100%;
}