@import '../../../app/page.module.scss';

.tabs {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabList {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tabButton {
  @include H3;
  font-family: inherit;
  background: none;
  border: none;
  padding: 0.5rem 3rem;
  cursor: pointer;
  color: var(--dark-100);
  border-color: var(--dark-100);
  transition: all 0.3s ease;

  &:hover,
  &:active {
    background-color: rgba(35, 78, 153, 0.15);
  }
}

.active {
  border: none;
  border-bottom: 2px solid var(--accent-500);
  color: var(--accent-500);

  &:active {
    background-color: rgba(115, 165, 255, 0.15);
  }

  &:focus {
    outline: 2px solid var(--accent-500);

  }

  &:disabled {
    color: var(--accent-900);
    border-color: var(--accent-900);
    cursor: not-allowed;
  }
}

.tabPanel {
  padding: 1rem 0;
}
