@mixin Large {
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}

@mixin H1 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

@mixin H2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

@mixin H3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

@mixin Regular_text_16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@mixin Bold_text_16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

@mixin Regular_text_14 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

@mixin Medium_text_14 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

@mixin Bold_text_14 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

@mixin Small_text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

@mixin Semi-bold_small_text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

@mixin Regular_link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-500);
}

@mixin Small_link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-500);
}

.page {
  background: var(--dark-700);
}