@import '../../../app/page.module.scss';

.header {
  width: 100%;
  max-height: 60px;
  background: var(--dark-700);
  border-bottom: 2px solid var(--dark-300);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 12px 60px 12px 64px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.link_title {
  text-decoration: none !important;
  cursor: pointer;
}

.title {
  @include Large;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0;
  color: var(--light-100);
}

.content {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 36px;
}

.language_select {
  width: auto;
  min-width: 163px;
}

.alarm {
  //@include Large;
  font-family: 'Inter', sans-serif;
  order: -1;
  margin-right: 15px;
}

.login_button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}